In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
df = pd.read_csv("xpaths_export.csv")

In [5]:
df

,label,xpath,strategy,matches,action,values
0,firstName,"//*[@id=""firstName""]",id,1,click,NaN
1,firstName,"//*[@id=""firstName""]",id,1,Input,ABCDER
2,email,"//*[@id=""email""]",id,1,click,NaN
3,email,"//*[@id=""email""]",id,1,Input,A@GMAIL.COM
4,middleName,"//*[@id=""middleName""]",id,1,click,NaN
5,middleName,"//*[@id=""middleName""]",id,1,Input,DFG
6,mobileNumber,"//*[@id=""mobileNumber""]",id,1,click,NaN
7,mobileNumber,"//*[@id=""mobileNumber""]",id,1,Input,999-9999
8,lastName,"//*[@id=""lastName""]",id,1,click,NaN
9,lastName,"//*[@id=""lastName""]",id,1,Input,EDC
10,Select Branch,"//*[@data-testid=""dropdown-button""]",data-testid,1,click,NaN
11,200 - TECU - COUVA BRANCH,"//*[@data-testid=""option-1""]",data-testid,1,click,NaN
12,Save & Continue,"//*[@data-testid=""button"" and contains(., ""Sav...",data-testid+text,1,click,NaN